@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1e1e1e;
  --text-color: #b0b0b0;
  --button-color: #443a91;
  --button-hover: #7d3ff8;
}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0;
  padding: 0;
}

.input-dark {
  background-color: #2d2d2d;
  border: 1px solid #404040;
  color: var(--text-color);
}

.input-dark:focus {
  border-color: var(--button-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.2);
}

.input-dark::placeholder {
  color: #6b7280;
}

/* Estilos para el dropdown */
select option:hover,
select option:focus,
select option:active,
select option:checked {
  background-color: var(--button-color) !important;
  color: white !important;
}

/* Para asegurar que el fondo del option seleccionado también tenga el color correcto */
select option:checked {
  background: var(--button-color) !important;
}

/* Estilo para los logs */
.log-entry {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  /*line-height: 1;*/
  /* margin-bottom: 14px; */
  
} 


